@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

:root {
    --text: hsl(0, 0%, 0%);
    --textDim: hsl(0, 0%, 0%);
    --background: linear-gradient(-45deg,
            #3f383f,
            #9ba654,
            #6d6464);
    --primary: #ffffff;
    --primarys: hsl(214, 100%, 51%);
    --primaryBg: hsla(238, 56%, 65%, 0.485);
    --primaryHi: hsla(238, 53%, 41%, 0.5);
    --primaryFg: hsl(0, 0%, 0%);
    --secondary: hsl(0, 100%, 51%);
    --secondaryFg: hsl(0, 0%, 0%);
    --secondaryBg: hsla(0, 100%, 75%, 0.726);
    --secondaryHi: hsla(0, 52%, 30%, 0.5);
}

body {
    font-family: 'Manrope';
    font-weight: 400;
    background: var(--background);
    animation: gradientMove 1s ease infinite;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    color: var(--text);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--textDim);
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    gap: 7rem;
}

.menu:hover {
    transform: translateY(2px);
    transition: transform 0.3s ease-in-out;
    color: var(--text);
    cursor: pointer;

}

.sitename {
    font-weight: bold;
    padding-right: 2%;
    font-size: 1.2rem;
}

.grid {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    z-index: -1;
}

.grid-svg {
    height: 80%;
    width: 80%;
    position: relative;
    z-index: 1;
}

.blur {
    height: 12rem;
    width: 12rem;
    background-color: var(--primary);
    filter: blur(100px);
    border-radius: 100px;
    z-index: 0;
    position: absolute;
}

.title {
    margin-top: 5%;
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: -0.8rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-self: center;
    height: 100%;
    z-index: 1000;
}

.title>p {
    margin: 0;
    line-height: 10rem;
    width: auto;
}

.title>p:nth-child(1) {
    align-self: flex-start;
}

.title>p:nth-child(2) {
    color: var(--primary);
    align-self: center
}

.title>p:nth-child(3) {
    align-self: flex-end;
}

.material-icons {
    display: none;
    fill: var(--text);
}



.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    height: 50px;
    width: 160px;
    z-index: 9999;
}

button {
    height: 50px;
    width: 160px;
    clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
    border: none;
    border-radius: 13px;
    background-color: var(--primaryBg);
    box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
    color: var(--primaryFg);
    font-family: "Manrope";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0px);
    transition: all 0.2s ease;
}

span {
    width: 100px;
    height: 60px;
    background-color: var(--primaryHi);
    border-radius: 100%;
    filter: blur(20px);
    position: absolute;
    bottom: -50%;
    transition: all 0.2s ease;
}

.button:hover>span {
    opacity: 60%;
}

.button:hover>button {
    transform: translateY(5px);
}

.button.first {
    top: 30%;
    left: 3%;
}

.button.first>button {
    background-color: var(--primaryBg);
    box-shadow: 0px -3px 15px 0px var(--primarys) inset;
    color: var(--primaryFg);
}

.button.sec {
    top: 41%;
    left: 3%;
}

.button.sec>button {
    background-color: var(--accentBg);
    box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
    color: var(--accentFg);
}

.button.sec>span {
    background-color: var(--accentHi);
}

.button.third {
    top: 52%;
    left: 3%;
}

.button.third>button {
    background-color: var(--secondaryBg);
    box-shadow: 0px -3px 15px 0px var(--secondary) inset;
    color: var(--secondaryFg);
}

.button.third>span {
    background-color: var(--secondaryHi);
}


.top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 50%;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 50%;
}